<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <contextName>QuotesProvider</contextName>
    <jmxConfigurator />

    <property name="logs" value="${catalina.base}/logs" />
    <property name="name" value="quotes-provider" />


    <!--//////// Appenders ////////-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [${name}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs}/${name}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${logs}/${name}.log-%d{yyyyMMdd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--//////// Loggers ////////-->

    <logger name="cz.cvut.zuul.samples.provider" level="DEBUG" />

    <logger name="org.springframework" level="INFO" />

    <logger name="org.springframework.security" level="DEBUG" />


    <!--//////// Root ////////-->

    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGFILE" />
    </root>

</configuration>
