<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


    <!--//////////////////// APPENDERS ////////////////////-->

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p [simple-provider::%5c]: %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="File" value="${catalina.base}/logs/simple-provider.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%5c]: %m%n"/>
        </layout>
    </appender>


    <!--//////////////////// CATEGORIES ////////////////////-->
   

    <logger name="cz.cvut.zuul.samples.provider">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework">
        <level value="INFO" />
    </logger>
    
    <logger name="org.springframework.security">
        <level value="DEBUG" />
    </logger>
    
    <logger name="cz.cvut.oauth.provider.spring.StandaloneResourceServerTokenServices">
        <level value="DEBUG" />
    </logger>


    <!--//////////////////// ROOT ////////////////////-->

    <root>
        <level value="WARN" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
